@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    overscroll-behavior: none;
}

@layer base{
    @font-face {
        font-family: "Gilroy-Regular";
        src: url("/src/fonts/gilroy/Gilroy-Regular.ttf");
    }
    @font-face {
        font-family: "Gilroy-Medium";
        src: url("/src/fonts/gilroy/Gilroy-Medium.ttf");
    }
    @font-face {
        font-family: "Gilroy-SemiBold";
        src: url("/src/fonts/gilroy/Gilroy-SemiBold.ttf");
    }
    @font-face {
        font-family: "Gilroy-Bold";
        src: url("/src/fonts/gilroy/Gilroy-Bold.ttf");
    }
    @font-face {
        font-family: "Gilroy-ExtraBold";
        src: url("/src/fonts/gilroy/Gilroy-ExtraBold.ttf");
    }
    @font-face {
        font-family: "Gilroy-Light";
        src: url("/src/fonts/gilroy/Gilroy-UltraLight.ttf");
    }
}

/*-------------------> Home page <----------------*/
/* Home Page-1 (heading Component)*/
.heading{
    @apply text-3xl font-Gilroy-500 xs:text-4xl ss:text-4xl md:text-5xl lg-xl:text-6xl xl:text-7xl xl:font-Gilroy-700
}
.subheading{
    @apply text-wrap text-sm xs:text-base xl:text-xl xl:mr-72
}
